$borederRadius: 10px;
$standardMargin: 8px;
$standardPadding: 8px;

.tweet-article{
  margin: 0 2em;
  border: 1px solid black;
  border-radius: $borederRadius;
}

.tweet-article {
  margin-top: $standardMargin * 4;
}

.tweet-article header{
  border-radius: $borederRadius $borederRadius 0px 0px;
  background-color: #eee;
}

.tweet-article h4 {
  margin: 0px $standardMargin;
  float: left;
}

.tweet-article h6 {
  margin: $standardMargin 0px;
  float: right;
  color: grey;
}

.tweet-article img {
  float: left;
  height: 40px;
  width: 40px;
}

.tweet-article p {
  margin: $standardMargin * 2;
  overflow-wrap: break-word;
}

.tweet-article footer {
  border-top: 1px solid grey;
}

.tweet-article footer p{
  margin: $standardMargin;
  font-size: 0.8em;
}

.tweet-header {
  padding: $standardPadding;
  clear:both;
  overflow: auto;
  opacity: 0.6;
}

.tweet-footer {
  display: block;
  clear: both;
  overflow: auto;
}

.tweet-footer p {
  float: left;
}

.tweet-footer .icons {
  color: #57CCB6;
  margin: $standardMargin $standardMargin / 2;
  visibility: hidden;
  float:right;
}

.tweet-article:hover .tweet-header {
  opacity: 1;
}

.tweet-article:hover .tweet-footer .icons{
  visibility: visible;
}