$headerHeight: 80px;

#nav-bar {
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 1030;
}

#nav-bar .logo {
  height: $headerHeight;
  width: 80px;
  float:left;
}

#nav-bar .header {
  line-height: $headerHeight;
  height: $headerHeight;
  margin-left: 10px;
  float: left;
  font-size: 2em;
}

#nav-bar .header-login {
  line-height: $headerHeight + 5;
  margin-left: 10px;
  float:left;
  font-size: 1em;
}

#nav-bar .header-login a {
  color: inherit;
  text-decoration: none;
}

#nav-bar ul {
  height: $headerHeight;
  line-height: 38px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#nav-bar li {
  float: right;
}

#nav-bar li a {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  background-color: #E6FEFF;
  color: #2EC4A8;
  display: block;
  text-align: center;
  text-decoration: none;
}

#nav-bar li a:hover {
  background-color: white;
  color: black;
}
