.tweet-article {
  margin: 0 2em;
  border: 1px solid black;
  border-radius: 10px;
}

.tweet-article {
  margin-top: 32px;
}

.tweet-article header {
  border-radius: 10px 10px 0px 0px;
  background-color: #eee;
}

.tweet-article h4 {
  margin: 0px 8px;
  float: left;
}

.tweet-article h6 {
  margin: 8px 0px;
  float: right;
  color: grey;
}

.tweet-article img {
  float: left;
  height: 40px;
  width: 40px;
}

.tweet-article p {
  margin: 16px;
}

.tweet-article footer {
  border-top: 1px solid grey;
}

.tweet-article footer p {
  margin: 8px;
  font-size: 0.8em;
}

.tweet-header {
  padding: 8px;
  clear: both;
  overflow: auto;
  opacity: 0.6;
}

.tweet-footer {
  display: block;
  clear: both;
  overflow: auto;
}

.tweet-footer p {
  float: left;
}

.tweet-footer .like-counter {
  width: 1.125em;
  text-align: center;
  height: 16px;
}

.tweet-footer .icons {
  color: #57CCB6;
  margin: 8px 4px;
  visibility: hidden;
  float: right;
}

.tweet-article:hover .tweet-header {
  opacity: 1;
}

.tweet-article:hover .tweet-footer .icons {
  visibility: visible;
}
